@font-face {
    font-family: 'ActionIs';
    src: url('../fonts/actionis.TTF') format('opentype');
}

body {
	/*box-sizing: border-box;*/
	background-image: url("../images/Sunrise.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
    /*padding:0px;*/
	margin: 0px;
	height: 100%;
	width: 100%;
}

header {
	display: block;
	margin: 0px;
	
}


/*.container{
	margin-left:2.5%;
	margin-right:2.5%;
	height: auto;
	width: auto;
}*/

#PageHeader {
	position: relative;
	/*padding-left: 20px;*/
	/*padding-right: 20px;*/
	padding-top: 20px;
	text-align: center;
	font-family: "ActionIs";
	/*font-weight: bold;*/
	font-size: 56px;
	margin: 0px;
	color: purple;
}



.MainSection{
	position: relative;
	margin-left: 5%;
	/*margin-right: 0px;*/
	/*width:100%;*/
	/*height:100%;*/
	/*width:100%;*/
	/*clear: both;*/
	font-family: "ActionIs";
	font-size: 20px;
	/*font-weight: bold;*/
}
/*.TopCol{S
	float: left;
}*/
.imgTopImages, .imgDefender ,.imgFighter{
	position: relative;
   /*width: 15%;*/
	/*height: auto;*/
	/*height: 100px;*/
	margin:5px;
	padding-left padding-right: 4px;
	float: left;
    border: 4px solid purple;
	background: #f0f2b0;
	/*display: none;*/
}
.imgEnemies{
	border: 4px solid red;
}



.imgDefender{
	border: 4px solid green;
		margin-right: auto;
	margin-left: auto;
	width: 200px;
}

.thumbnail a > img, .thumbnail > img {
	margin-right: auto;
	margin-left: auto;
	height: 100px;
}

.SectionHeader{
	color: purple;
	clear: right;
}

.btnAttack, .btnReset{
	background: purple;
	float: left;
	clear: both;
}



.btnReset{
	background: blue;
	display: none;
}

.imgHeader, .imgFooter, .imgDefenderFooter {
	text-align: center;
	font-size: 16px;
	color: purple;
	background: #f6f7de;
}
/*#TopImages {
	width: 150px;
	height: auto;
	position: relative;
	float:left;
}*/
.DefenderSection,.EnemiesSection{
	float: left;
	height: 166px;
}

.GameStatusDiv{
	margin-top: 60px;
	font-size: 18px;
	padding: 1px;
	color: purple;
	margin-left: 2.5%;
	margin-bottom: 2.5%;
	/*margin: 2.5%;*/
	float:left;
}
/*.GameStatusCol {
	width:100%;
}*/

footer{
	line-height: 60px;
	clear:left;
}
#PageFooter {
    /*position: relative;*/
    padding: 10px;
	text-align: center;
	font-family: "ActionIs";
	font-size: 20px;
	color: purple;
}